.grid {
    display: grid;
    grid-template-rows: repeat(var(--rows), 35px);
    grid-template-columns: repeat(var(--cols), 35px);
    gap: 3px;
}

.grid-item {
    border: 2px solid black;
    font-size: 15px;
    font-weight: 600;
    width: 35px;
    height: 35px;
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}

.grid-item-selected {
    background-color: red;
}

.grid {
    user-select: none;
}
