body {
    font-family: "Courier New", Courier, monospace;
}

.reply-action-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}

.comment-section {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.reply-action-btns > button {
    width: fit-content;
    cursor: pointer;
}

.text-area-input {
    width: 100%;
}

.comment-item-actions {
    display: flex;
    gap: 12px;
}

.view-comment-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.view-comment-top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.view-comment-section button {
    margin-top: 0px;
}

.view-comment-bottom-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.replies-section {
    display: flex;
    flex-direction: column;
}

.comment-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.child-comments-section {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    border-left: 1px solid black;
    gap: 16px;
}

.replies-count {
    margin-left: 6px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}

.reply-text {
    font-size: 14px;
    font-weight: 500;
}

textarea {
    border-radius: 8px;
}
.reply-action-btns {
    margin-top: 8px;
}

.cancel-reply-btn {
    color: blue;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

.delete-btn {
    color: red;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}
