.quiz-opt {
    display: flex;
    gap: 4px;
    border: 1px solid black;
    width: 200px;
    padding: 12px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
}

.quiz-container {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.quiz-opt-container {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.quiz-opt-selected {
    background-color: green;
}

.btn-container {
    display: flex;
    flex-direction: row;
}

.result-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.result-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.wrong-ans {
    color: red;
}

.right-ans {
    color: green;
}

.retry {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: red;
}

.ans-status-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
